.DS_Store
*build/
dist/
.gradle/
ui/
*.orig
*~
TAGS
*src/docs/text/*.aux
*src/docs/text/*.log
*src/docs/text/*.pdf
*src/docs/text/*synctex.gz

# IDE-specific ignores
# lists comes from import, and running project build

# IntelliJ IDEA
.idea/
out/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
.classpath
.project
bin/

# NetBeans
/.nb-gradle/

src/docs/text/randoop-tutorial.aux
src/docs/text/randoop-tutorial.log
src/docs/text/randoop-tutorial.pdf
