.DS_Store
*build/
dist/
.gradle/
ui/
*.orig
*~
TAGS
src/docs/text/*.aux
src/docs/text/*.log
src/docs/text/*.pdf
src/docs/text/*synctex.gz

catalanoimage/
randoop.jar

src/test/java/ErrorTest*.java
src/test/java/RegressionTest*.java
